{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Create New Post
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
    <div class="container post-page post-form">
        <h1>Create New Post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Create" class="btn btn-secondary">
        </form>
    </div>
{% endblock %}
