{% extends "base.html" %}
{% load static %}

{% block title %}Delete Post{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
<div class="container post-page post-form">
  <h1>Delete Post</h1>
  <p>Are you sure you want to delete "{{ object.title }}"?</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger">
    <a class="btn btn-secondary" href="{% url 'post_detail' object.pk %}">Cancel</a>
  </form>
</div>
{% endblock %}
