{% extends 'base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}



{% block content %}
    <div class="container">
        <h1 class="page-title">Welcome to Our Website</h1>
        <p class="page-lead">Discover a world of opportunities with us. We are committed to providing you with the best experience possible.</p>
        <p>Explore our services, learn about our team, and find out how we can help you achieve your goals.</p>
        <p>Stay tuned for the latest updates and news from our company.</p>
        <p>Thank you for visiting our homepage!</p>
    </div>
{% endblock %}
